* {
    padding: 0;
    margin: 0;
}

@font-face {
    src: url(../font/static/Quicksand-Regular.ttf);
    font-family: font1;
}

body {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

:root {
    /* color */
    --main_data-menu_footer: #f6f6f8;
    --content_menu_footer-bottom: #FFFFFF;
    --banner-bg-color: #EEEEEE;
    --highlight-color1: #56cfe1 !important;
    --highlight-color2: #FF4E00;
    --text-normal-color: #878787;
    --text-highlight-color: #222;
    --button-highlight-color: #222222;
    --button-highlight-color2-bg: #fff;
    --button-highlight-color2-text: #272525;
    /* font-size */
    --text-size-1: 55px;
    --text-size-2: 45px;
    --text-size-3: 36px;
    --text-size-4: 32px;
    --text-size-5: 24px;
    --text-size-6: 18px;
    /* ngoại lệ */
    --text-size-title: 16px;
    --text-size-normal: 14px;
    --text-size-small: 10px;
    --text-size-medium: 12px;
}


/* ---------------------- */

.bg-cyclamen,
.cyclamen-ul>li,
.cyclamen-ul>a,
.hover-cyclamen:hover {
    background-color: #83597d !important;
    color: white
}

.text-cyclamen {
    color: #83597d;
}

.bg-cyclamen-opacity,
.hover-cyclamen-opacity:hover {
    background-color: #83597d70 !important;
    color: white !important;
}

.text-cyclamen-opacity {
    color: #83597d70;
}

.hover-cyclamen-basic:hover,
.cyclamen-ul>li:hover,
.cyclamen-ul>a:hover {
    background-color: #e3bbbd!important;
    color: rgb(255, 255, 255);
}

.cyclamen-content,
.cyclamen-menu {
    background-color: #F9E1F2 !important;
}

.cyclamen-footer {
    background-color: #2F0E25 !important;
    color: white;
}


/* -------------------------- */


/* color theme */

.fs-content,
.fs-menu,
.fs-footer-bottom {
    background-color: var(--content_menu_footer-bottom);
}

.fs-banner {
    background-color: var(--banner-bg-color);
}

.fs-footer,
.fs-data-menu {
    background-color: var( --main_data-menu_footer);
}


/*--------------------------------------------------------- background-color */


/* set theme background */

.bg-highlight-2,
.bg-hover-highlight-2:hover,
.bg-highlight-1:hover {
    background-color: var(--highlight-color2) !important;
}

.bg-highlight-1,
.bg-hover-highlight-1:hover,
.bg-highlight-2:hover {
    background-color: var( --highlight-color1) !important;
}


/* basic background */

.bg-brown,
.bg-hover-brown {
    background-color: brown;
    color: white;
}

.bg-white,
.bg-hover-white {
    background-color: #fff;
    color: #272525;
}

.bg-black,
.bg-hover-black {
    background-color: rgb(17, 16, 16);
    color: #faf6f6;
}


/*--------------------------------------------------------- text-color */


/* set theme text-color */

.text-highlight-1,
.text-highlight-1>li>a,
.text-highlight-1>li {
    color: var(--highlight-color1);
}

.text-highlight-2,
.text-highlight-2>li>a,
.text-highlight-2>li {
    color: var(--highlight-color2);
}

.text-normal,
.text-normal>li>a,
.text-normal>li {
    color: var( --text-normal-color);
}

.text-highlight-title,
.text-highlight-title>li>a,
.text-highlight-title>a {
    color: var(--text-highlight-color);
}


/* text hover (set theme) */

.text-hover-basic-1:hover,
.text-hover-basic-1>li>a:hover,
.text-hover-basic-1>li:hover {
    color: var(--highlight-color1);
}

.text-hover-basic-2:hover,
.text-hover-basic-2>li>a:hover,
.text-hover-basic-2>li:hover {
    color: var(--highlight-color2);
}


/* text-color basic */

.text-brown,
.text-hover-brown:hover {
    color: brown !important;
}

.text-white,
.text-hover-white:hover {
    color: white !important;
}

.text-blue,
.text-hover-blue:hover {
    color: blue !important;
}


/* thẻ title */

.fs-title {
    font-size: var(--text-size-title);
}


/* gói basic */


/* setting cho li và a */

a {
    text-decoration: none !important;
    color: inherit;
}

.fs-ul-highlight>li,
.fs-ul-highlight>li>a {
    color: var( --text-highlight-color);
}

.fs-ul-highlight>li>a:hover {
    color: var(--highlight-color1);
}

.li-size-uppercase>li>a {
    font-size: 12px !important;
    text-transform: uppercase;
}


/* flex */

.center {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.left-start {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important
}

.right-end {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


/* dislay animate */

.top-to-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.box-ratio:hover .top-to-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
    visibility: visible;
}


/* dislay cố định */

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.left-middle {
    position: absolute;
    top: 40%;
    left: 20px;
    z-index: 2 !important;
}

.bottom-middle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


/* display animate */

.box-ratio:hover .top-right.hover-hidden,
.box-ratio:hover .middle.hover-hidden {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}


/* icon box */

.icon {
    margin: 0px 5px;
}

.icon i {
    transition: 0.2s;
    cursor: pointer;
    vertical-align: middle;
}

.icon i.not-align {
    vertical-align: baseline;
}


/* text-overflow */

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* text-align */

.text-align-right {
    text-align: right !important;
}

.text-align-center {
    text-align: center!important
}

.text-align-left {
    text-align: left !important;
}


/* tooltip */

.tooltip-top {
    position: absolute;
    top: -52px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    padding: 5px 9px;
    border-radius: 2px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(15, 14, 14);
    color: white;
}

.tooltip-top::after {
    content: '';
    position: absolute;
    height: 9px;
    width: 9px;
    bottom: -6px;
    left: 50%;
    background-color: rgb(15, 14, 14);
    transform: rotate( 45deg) translateX(-50%);
}

.relative:hover .tooltip-top {
    opacity: 1;
    visibility: visible;
    top: -37px;
}


/* highlight-box */

.highlight-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    font-size: 14px;
}


/* button box */

.button-close {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ccc;
    z-index: 100;
}

.button-load {
    border-radius: 40px;
    width: 168px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-submit {
    width: 70px;
    border-radius: 5px;
    border: none;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    box-shadow: 1px 1px 9px 1px #2724247d;
    cursor: pointer;
}

.button-radius-basic {
    position: relative;
    /* width: 100%; */
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* setting độ dài button */

.button.button-responsive,
.button-radius-basic.button-responsive,
.button-radius-basic.button-responsive>.hover-text-hidden,
.button-radius-basic.button-responsive>.hover-icon-show,
.button-radius-basic.button-responsive>.hover-icon-hidden,
.button-radius-basic.button-responsive>.hover-text-show {
    width: 152px;
    font-size: 15px;
}


/* setting phần tử i,span */

.button-radius-basic .hover-text-hidden,
.button-radius-basic .hover-icon-show,
.button-radius-basic .hover-icon-hidden,
.button-radius-basic .hover-text-show {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    /* width: 120px; */
    transform: translateX(-50%) translateY(-50%);
    transition: 0.3s;
}

.button-radius-basic .hover-icon-show,
.button-radius-basic .hover-text-show {
    transform: translateX(-50%) translateY(150%);
}


/* setting thuộc tính hover với phần tử i,span */

.button-radius-basic:hover .hover-icon-show,
.button-radius-basic:hover .hover-text-show {
    transform: translateX(-50%) translateY(-50%);
}

.button-radius-basic:hover .hover-text-hidden {
    transform: translateX(-50%) translateY(-190%);
}

.button-radius-basic:hover .hover-icon-hidden {
    transform: translateX(-50%) translateY(-300%);
}


/* setting border button highlight... */

.round-small {
    border-radius: 2px;
}

.round-medium {
    border-radius: 4px;
}

.round-large {
    border-radius: 8px;
}

.round-xlarge {
    border-radius: 16px;
}

.round-xxlarge {
    border-radius: 32px;
}

.circle {
    border-radius: 50%;
}


/*-------------------------------------------------------------- padding và margin  */


/* margin */

.margin-l-5 {
    margin-left: 5px;
}

.margin-r-5 {
    margin-right: 5px;
}

.margin-t-5 {
    margin-top: 5px;
}

.margin-b-5 {
    margin-bottom: 5px;
}

.margin-5 {
    margin: 5px;
}

.margin-lr-5 {
    margin: 0px 5px;
}

.margin-tb-5,
.li-margin-tb-5>li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-l-10 {
    margin-left: 10px;
}

.margin-r-10 {
    margin-right: 10px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-10 {
    margin: 10px !important;
}

.margin-lr-10 {
    margin: 0px 10px !important;
}

.margin-tb-10,
.li-margin-tb-10>li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-15 {
    margin: 15px !important;
}

.margin-t-15 {
    margin-top: 15px;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.margin-r-15 {
    margin-right: 15px;
}

.margin-l-15 {
    margin-left: 15px;
}

.margin-lr-15 {
    margin: 0px 15px !important;
}

.margin-tb-15,
.li-margin-tb-15>li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-tb-20,
.li-margin-tb-20>li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-30 {
    margin: 30px !important;
}

.margin-lr-30 {
    margin: 0px 30px !important;
}

.margin-tb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-b-30 {
    margin-bottom: 30px;
}


/* padding theo hướng */

.reset-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.padding-l-5,
ul.li-padding-l-5>li {
    padding-left: 5px;
}

.padding-r-5,
ul.li-padding-r-5 {
    padding-right: 5px;
}

.padding-t-5,
.col-padding-t-5 {
    padding-top: 5px;
}

.padding-b-5,
.col-padding-b-5 {
    padding-bottom: 5px;
}

.padding-l-10,
ul.li-padding-l-10 {
    padding-left: 10px;
}

.padding-r-10,
ul.li-padding-r-10 {
    padding-right: 10px;
}

.padding-t-10,
.col-padding-t-10 {
    padding-top: 10px;
}

.padding-b-10,
.col-padding-b-10 {
    padding-bottom: 10px;
}

.padding-l-15,
ul.li-padding-l-15 {
    padding-left: 15px;
}

.padding-l-20 {
    padding-left: 20px;
}

.padding-l-40 {
    padding-left: 40px;
}

.padding-r-15,
ul.li-padding-r-15 {
    padding-right: 15px;
}

.padding-t-15,
.col-padding-t-15 {
    padding-top: 15px;
}

.padding-b-15,
.col-padding-b-15 {
    padding-bottom: 15px;
}


/* padding tất cả */

.padding-5,
ul.li-padding-5>li {
    padding: 5px;
}

.padding-10,
ul.li-padding-10>li {
    padding: 10px;
}

.padding-15,
ul.li-padding-15>li {
    padding: 15px;
}

.padding-20,
ul.li-padding-20>li {
    padding: 20px;
}


/* padding left right */

.padding-lr-5,
ul.li-padding-lr-5>li {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-lr-10,
ul.li-padding-lr-10>li {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-lr-15,
ul.li-padding-lr-15>li {
    padding-left: 15px;
    padding-right: 15px;
}


/* padding top bottom */

.padding-tb-5,
ul.li-padding-tb-5>li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-tb-10,
ul.li-padding-tb-10>li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-tb-15,
ul.li-padding-tb-15>li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-tb-20,
ul.li-padding-tb-20>li {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* row-padding */

.row-padding-30 {
    padding: 30px 15px;
}


/* col-padding left-right*/

.col-padding-lr-5 {
    padding-left: 20px;
    padding-right: 20px;
    /* 15px mặc định */
}

.col-padding-lr-10 {
    padding-left: 25px;
    padding-right: 25px;
    /* 15px mặc định */
}

.col-padding-lr-15 {
    padding-left: 30px;
    padding-right: 30px;
    /* 15px mặc định */
}


/* col-padding theo 1 hướng */

.col-padding-l-5 {
    padding-left: 20px;
    /* 15px mặc định */
}

.col-padding-l-10 {
    padding-left: 25px;
    /* 15px mặc định */
}

.col-padding-l-15 {
    padding-left: 30px;
    /* 15px mặc định */
}

.col-padding-r-5 {
    padding-right: 20px;
    /* 15px mặc định */
}

.col-padding-r-10 {
    padding-right: 25px;
    /* 15px mặc định */
}

.col-padding-r-15 {
    padding-right: 30px;
    /* 15px mặc định */
}


/* ---------------------------------------------------------------Drowpdown */


/* Dropdown-center */

.ul-center {
    list-style: none !important;
    display: -ms-flexbox!important;
    display: flex!important;
    position: relative;
    -ms-flex-pack: center!important;
    justify-content: center!important
}

.ul-center>li>a {
    margin: 0px 5px;
}

ul {
    list-style: none !important;
    margin-bottom: 0rem;
}

.fix-line-height-30 {
    line-height: 20px;
}

.ul-primary {
    list-style: none;
    margin-bottom: 0;
    display: flex!important;
    position: relative;
    -ms-flex-pack: center!important;
    justify-content: center!important
}

.ul-primary>a,
.ul-primary>li {
    position: relative;
}

.dropdown-menu-center {
    position: absolute;
    visibility: hidden;
    z-index: 10;
    display: inline;
    color: #212529;
    overflow: auto;
    width: 92vmax;
    /* width: 90vmax; */
}

.dropdown-menu-primary {
    transform: none;
    text-align: left;
    min-width: 250px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    display: inline;
    color: #212529;
}

.dropdown-menu-primary.fix {
    min-width: 150px;
    max-width: 150px;
}


/* thuộc tính effect  */

.dropdown-menu-center.bottom-eff-menu {
    top: 142%;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateX(-50%) translateY(15%); */
}

.dropdown-menu-center.bottom-in {
    top: 142%;
    left: 50%;
    transform: translate(-50%);
}

.dropdown-menu-primary.bottom-in {
    top: 142%;
    left: 0%;
}

.dropdown-menu-primary.bottom-in-end {
    top: 142%;
    right: 0%;
}

.dropdown-menu-center.left-in {
    top: 101%;
    left: 70%;
    transform: translate(-50%);
}

.dropdown-menu-primary.left-in {
    top: 101%;
    left: 50%;
}

.dropdown-menu-center.right-in {
    top: 101%;
    left: 30%;
    transform: translate(-50%);
}

.dropdown-menu-primary.right-in {
    top: 101%;
    left: -50%;
}

.dropdown-menu-center.li-zoom-out {
    top: 101%;
    left: 50%;
    /* transform-origin: 50% 50%; */
    transform: translate(-50%) scale(0);
}

.dropdown-menu-primary.li-zoom-out {
    top: 101%;
    left: 0%;
    transform: scale(0);
}


/* hover effect */

.ul-center>li:hover>a {
    color: var(--highlight-color1);
}

.ul-center>li:hover>a {
    border-bottom: 1px solid rgba(23, 178, 199, 0.199);
}

.ul-center>a:hover .bottom-eff-menu,
.ul-center>li:hover .bottom-eff-menu {
    top: 102%;
    /* transform: translateX(-50%) translateY(8%); */
    visibility: visible;
    /* opacity: 1; */
    transition: 0.5s;
}

.ul-center>a:hover .bottom-in,
.ul-center>li:hover .bottom-in,
.ul-center>a:hover .left-in,
.ul-center>li:hover .left-in,
.ul-center>a:hover .right-in,
.ul-center>li:hover .right-in {
    visibility: visible;
    opacity: 1;
    left: 50%;
    top: 101%;
    transition: 0.5s;
}


/* 
.ul-primary>li:hover>.icon span,
.ul-primary>li:hover>.icon i {
    color: var(--highlight-color2);
} */

.ul-primary>a:hover .bottom-in,
.ul-primary>li:hover .bottom-in,
.ul-primary>a:hover .left-in,
.ul-primary>li:hover .left-in,
.ul-primary>a:hover .right-in,
.ul-primary>li:hover .right-in {
    opacity: 1;
    visibility: visible;
    left: 0%;
    top: 101%;
    transition: 0.3s;
}

.ul-primary>a:hover .li-zoom-out,
.ul-primary>li:hover .li-zoom-out {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0.3s;
}

.ul-primary>a:hover .bottom-in-end,
.ul-primary>li:hover .bottom-in-end {
    opacity: 1;
    visibility: visible;
    right: 0%;
    top: 102%;
    transition: 0.3s;
}

.ul-center>a:hover .li-zoom-out,
.ul-center>li:hover .li-zoom-out {
    opacity: 1;
    visibility: visible;
    transition: 0.7s;
    transform: translate(-50%) scale(1);
}


/* ----------------------------------------------------------------------carousel*/

.bg-img-view {
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.img-background {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    height: 95vh;
    width: 100vmax;
}

.carousel-indicators.li-radius li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


/* -----------------------------------------------------------------------carousel caption */

.T-large {
    color: var(--text-highlight-color);
    font-weight: 600;
    margin: 0px;
    line-height: 1.4;
}

.T-medium {
    line-height: 5px;
}

.T-small {
    text-transform: uppercase;
    color: var(--text-highlight-color);
    font-weight: 600;
    background-color: var(--button-highlight-color);
    color: white;
    display: inline-block;
    padding: 12px 30px;
}

.T-large.xl {
    font-size: var(--text-size-1);
}

.T-medium.xl {
    font-size: var(--text-size-6);
}

.T-small.xl {
    font-size: var(--text-size-normal);
}


/* -----------------------------------------------------------------------transition delay */

.delay-1s {
    animation-delay: 1s
}

.delay-2s {
    animation-delay: 2s
}

.delay-3s {
    animation-delay: 3s
}

.delay-4s {
    animation-delay: 4s
}

.delay-5s {
    animation-delay: 5s
}


/* ----------------------------------------------------------------------------pin */

.pin {
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 13px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid white;
    color: #eeeeee;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    top: 50%;
    left: 50%;
}

.pin:hover {
    background-color: var(--highlight-color1);
}


/* -----------------------------------------------------------------------box-ratio  */

.box-ratio {
    position: relative;
    overflow: hidden;
}

.box-ratio::before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}

.box-ratio .image,
.box-ratio .image-slow,
.box-ratio .image2,
.box-ratio .bg-hover::before,
.box-ratio .bg-hover-zoom-out::before,
.box-ratio .bg-hover-zoom-out-hidden::before,
.box-ratio .bg-show::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: cover;
    transform: scale(1.02);
    background-position: center center;
    transition: opacity .3s, transform 0.5s cubic-bezier(.25, .46, .45, .94), -webkit-transform 0.5s cubic-bezier(.25, .46, .45, .94);
}


/* chiều rộng / chiều cao 
100*rộng/cao
*/

.box-ratio.ratio-1-1_3::before {
    padding-top: 130.9%;
    visibility: hidden;
}

.box-ratio.ratio-1-1::before {
    padding-top: 100%;
}

.box-ratio.ratio-1-1-fix::before {
    padding-top: 100%;
    padding-bottom: 5px;
}

.box-ratio.ratio-2-1::before {
    padding-top: 50%;
}

.box-ratio.ratio-1-2::before {
    padding-top: 200%;
}

.box-ratio.ratio-4-3:before {
    padding-top: 75%;
}

.box-ratio.ratio-5-3:before {
    padding-top: 60%;
}

.box-ratio.ratio-16-9:before {
    padding-top: 56.25%;
}


/* -----------------------------------------------------------------background-position ratio box */

.image.bg-top-center,
.image2.bg-top-center,
.bg-position-edit {
    background-position: top center;
}

.image.bg-bottom-center,
.image2.bg-bottom-center {
    background-position: center bottom;
}


/* -----------------------------------------------------------------animate ratio box */

.box-ratio .bg-hover-zoom-out-hidden::before {
    border-radius: 50%;
}

.box-ratio .bg-hover::before,
.box-ratio .bg-hover-zoom-out::before,
.box-ratio .bg-hover-zoom-out-hidden::before {
    content: '';
    /* background-color: #0a0a0a1f; */
    background-color: rgba(255, 255, 255, .3);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.box-ratio .bg-hover-zoom-out-hidden::before {
    transform: scale(0);
    opacity: 1;
    visibility: visible;
    transition: 0s;
}

.box-ratio:hover .bg-hover-zoom-out-hidden::before {
    transform: scale(1);
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
}

.box-ratio .bg-hover-zoom-out::before {
    transform: scale(0);
}

.box-ratio:hover .bg-hover::before,
.box-ratio:hover .bg-hover-zoom-out::before {
    opacity: 1;
    visibility: visible;
}

.box-ratio:hover .bg-hover-zoom-out::before {
    transform: scale(1);
}

.image-opacity-zoom:hover .image2 {
    opacity: 0 !important;
    visibility: hidden !important;
}

.image-opacity-zoom:hover .image {
    transform: scale(1.1);
    transition: .6s ease-in-out;
}

.box-ratio .bg-show::before {
    content: '';
    background-color: #0a0a0a0e;
    visibility: visible;
    opacity: 1;
}

.image-zoom-out:hover .image {
    transform: scale(1.1);
    transition: .6s ease-in-out;
}


/*------------------------------------------------------------------------------ category-title */

.category-title {
    position: absolute;
    top: -4px;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%);
    padding: 0px 10px;
}

.category-style-2::before {
    content: "";
    width: 339px;
    border-top: 1px solid gray;
    border-bottom: 3px solid gray;
    height: 10px;
    display: inline-block;
    position: relative;
}

.category-style-1::before,
.category-style-1-w-395::before,
.category-style-1-w-539::before {
    content: "";
    display: inline-block;
    width: 300px;
    height: 2px;
    background: #222;
    position: relative;
}

.category-style-1-w-395::before {
    width: 395px;
}

.category-style-1-w-539::before {
    width: 539px;
}

.highlight-title-responsive {
    font-size: var(--text-size-5);
}

.text-reponsive {
    font-size: var(--text-size-normal);
}


/*------------------------------------------------------------------------------1 số thuộc tính đơn */

.uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 99px;
}

.content-news {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 39px;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}


/* font-size */

.text-12 {
    font-size: 12px !important;
}

.text-13 {
    font-size: 13px !important;
}

.text-14 {
    font-size: 14px;
}

.text-15 {
    font-size: 15px;
}

.text-16 {
    font-size: 16px;
}

.text-17 {
    font-size: 17px;
}

.text-18 {
    font-size: 18px;
}

.text-22 {
    font-size: 22px;
}


/*------------------------------------------------------------------------------ responsive */


/* extra small max 543px */


/* small max 767px */


/* medium max 991px */


/* large max 1199px */


/* large xl >1199px */


/* setting padding */

@media (min-width:320px) and (max-width:543px) {
    /* màn hình xs */
    .highlight-title-responsive {
        font-size: var(--text-size-6);
    }
    .category-title {
        top: 0px;
    }
    .highlight-responsive {
        width: 40px;
        height: 40px;
    }
    /* setting carousel */
    .T-large.xs {
        font-size: var(--text-size-5);
    }
    .T-small.xs {
        font-size: var(--text-size-medium);
        padding: 5px 20px;
    }
    .T-medium.xs {
        font-size: var(--text-size-medium);
    }
    .img-background {
        height: 39vh;
        background-position: -80px 0px;
    }
}

@media (min-width:544px) and (max-width:767px) {
    /* setting carousel */
    .T-large.sm {
        font-size: var(--text-size-4);
    }
    .T-small.sm {
        font-size: var(--text-size-normal);
        padding: 5px 20px;
    }
    .T-medium.sm {
        font-size: var(--text-size-normal);
    }
    .img-background {
        height: 55vh;
        background-position: -140px 0px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    /* màn hình md */
    /* setting carousel */
    .T-large.md {
        font-size: var(--text-size-3);
    }
    .T-small.md {
        font-size: var(--text-size-normal);
        padding: 8px 20px;
    }
    .T-medium.md {
        font-size: var(--text-size-normal);
    }
    .img-background {
        height: 70vh;
        background-position: -132px 0px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    /* màn hình lg */
    /* setting carousel */
    .T-large.lg {
        font-size: var(--text-size-1);
    }
    .T-small.lg {
        font-size: var(--text-size-6);
        padding: 8px 20px;
    }
    .T-medium.lg {
        font-size: var(--text-size-6);
    }
    .img-background {
        height: 82vh;
        background-position: -132px 0px;
    }
}

@media (max-width:1025px) {
    .col-padding-lg {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
    }
    .row-margin-lg {
        margin-top: 20px;
    }
    .row-padding-lg {
        padding-right: 5px;
        padding-left: 5px;
    }
    .col-margin-lg {
        margin-top: 10px;
    }
    .menu-large,
    .logo-large {
        display: none !important;
    }
    .menu-medium,
    .logo-medium {
        display: block !important;
    }
    .logo-medium {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
}

@media (min-width:1026px) {
    .col-margin-lg {
        margin-top: 30px;
    }
    .box-ratio.ratio-1-1-fix::before {
        padding-top: 100%;
        padding-bottom: 15px;
    }
    .row-padding-lg {
        padding-right: 50px;
        padding-left: 50px;
    }
    .col-padding-lg {
        padding-top: 30px;
    }
}


/* W3-Animation */

.animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}


/* w3-css  modal*/

.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 90vmax;
    height: auto;
}

.modal-content.box-menu-setting {
    width: 300px;
    height: auto;
    overflow: auto;
    margin: 0px;
    border-radius: 0px;
}

.modal {
    z-index: 3;
    display: none;
    /* padding-top: 25px; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.cursor {
    cursor: pointer;
}


/* w3-border */

.w3-border-0 {
    border: 0!important
}

.w3-border {
    border: 1px solid #ccc!important
}

.w3-border-top {
    border-top: 1px solid #ccc!important
}

.w3-border-bottom {
    border-bottom: 1px solid #ccc!important
}

.w3-border-left {
    border-left: 1px solid #ccc!important
}

.w3-border-right {
    border-right: 1px solid #ccc!important
}


/* w3-card */

.w3-card,
.w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}