/*------------------------------------------------------------------------------ responsive */


/* extra small max 543px */


/* small max 767px */


/* medium max 991px */


/* large max 1199px */


/* large xl >1199px */

@media (max-width:576px) {
    .hide-xs {
        display: none;
    }
    .title span {
        font-size: 12px;
    }
    .title p {
        font-size: 14px;
    }
}

@media (max-width:767px) {
    .hide-xs-sm {
        display: none;
    }
    .title span {
        font-size: 14px;
    }
    .title p {
        font-size: 16px;
    }
}

@media (max-width:991px) {
    /* menu */
    .ul-primary {
        display: none !important;
    }
    .title span {
        font-size: 14px;
    }
    .title p {
        font-size: 16px;
    }
    .f-right,
    .f-left {
        text-align: center;
    }
    .setting-qc-top {
        padding: 0px 0px;
    }
    .setting-content {
        margin-top: 30px;
        padding: 0px;
    }
}

@media (min-width:992px) {
    .logo-small {
        display: none;
    }
    .setting-row {
        padding: 15px 0px 10px 0px;
    }
    .title span {
        font-size: 14px;
    }
    .title p {
        font-size: 16px;
    }
    .setting-qc-top {
        padding: 0px 100px;
    }
    .setting-content {
        margin-top: 30px;
        padding: 0px 50px;
    }
}